<!DOCTYPE html>
{% extends "app_wqit/base.html" %}
  {% block body_block %}
    <h1 class="mt-4">THIS IS THE ABOUT PAGE!</h1>
    <div class="container mt-10" id="about-text">
      <h1 style="font-size: 7rem;">Hello, friend!</h1>
    <p>
    	Hope you're having a good time.
    </p>
    <hr>
    <p>
    	<br>We all want to be successful.
      	<br>And each of us has an individual definition of success.
      	<br>Mine is the ammount of positive impact I make on the lives of others.
      	<br>I believe I am still able to positively influence people's lives.
      	<br>Therefore, I haven't lived up to my potential.
  	</p>
  	<p>
  		<br>If any any of those quotes made you want to go out there and chase
      <br>your dreams- let me know about it.
  		<br>You are more than welcome to contact me on noamdvir123@gmail.com
  		<br>I'm super responsive. Try me!
  	</p>

    </div>
    {% endblock %}
